<%= form_for :person, url: people_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>
    <p>
    <%= f.label :address %>
    <%= f.text_area :address %>
  </p>
    <p>
    <%= f.label :dob %>
    <%= f.date_field :dob %>
  </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>