<%= form_for :person, url: people_path do |f| %>
    <% if @person.errors.any? %>
        <p> All inputs are mandatory </p>
    <% end %>
    <p>
      <%= f.label :name %>
      <%= f.text_field :name %>
    </p>
    <p>
      <%= f.label :address %>
      <%= f.text_area :address %>
    </p>
    <p>
      <%= f.label :dob %>
      <%= f.date_field :dob %>
    </p>
    <p>
      <%= f.submit %>
    </p>
<% end %>